<!DOCTYPE html>
<html ng-app="app" ng-controller="AppController">
<head>
    <meta charset="utf-8" />
    <meta Http-Equiv="Cache-Control" Content="no-cache">
    <meta Http-Equiv="Pragma" Content="no-cache">
    <meta Http-Equiv="Expires" Content="0">
    <meta http-equiv="X-UA-Compatible" content="IE=11" />
    <meta name="viewport" content="width=device-width" />
    <script>
        document.write('<base href="' + document.location + '" />');
    </script>
    <title>@ViewBag.Title</title>

    <!-- Bootstrap -->
    <link href="~/content/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="~/content/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="~/content/css/nprogress.css" rel="stylesheet">
    <!-- iCheck -->
    <link href="~/content/css/green.css" rel="stylesheet">
    <link href="~/Content/css/bootstrap-multiselect.css" rel="stylesheet" />
    <!-- bootstrap-progressbar -->
    <link href="~/content/css/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet">
    <!-- JQVMap -->
    <link href="~/content/css/jqvmap.min.css" rel="stylesheet" />
    <!-- bootstrap-daterangepicker -->
    <link href="~/content/css/daterangepicker.css" rel="stylesheet">

    <!-- Custom Theme Style -->
    <link href="~/content/css/custom.min.css" rel="stylesheet">
    <link href="~/Assets/ng/Ui-grid/ui-grid.min.css" rel="stylesheet" />

    <link href="~/Content/css/jquery-ui.css" rel="stylesheet" />
    <style>
        table, td {
            table-layout: fixed;
            font: 15px arial;
        }



        table, th {
            font: bold;
        }

        .tooltip {
            position: fixed;
        }
    </style>

</head>
<body class="nav-md">

    <div class="container body">
        <div class="main_container">
            <div class="col-md-3 left_col">
                <div class="left_col scroll-view">
                    <div class="navbar nav_title" style="border: 0;">
                        <div class="site_title" style="font-size:18px!important"> <span>Quality</span><span style="color:#5bc0de"> Health</span><span> Index</span><span class="green"> Portal</span></div>
                    </div>

                    <div class="clearfix"></div>

                    <!-- menu profile quick info -->
                    <div class="profile clearfix">
                        <div class="profile_pic">
                            <!--<img src="images/img1.jpg" alt="..." class="img-circle profile_img">-->
                        </div>
                        <div class="profile_info">
                            <span>Welcome, <span style="font-weight:bold;">{{FirstName}}</span></span>
                        </div>
                    </div>
                    <!-- /menu profile quick info -->

                    <br />

                    <!-- sidebar menu -->
                    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                        <div class="menu_section">
                            <h3>Menu</h3>
                            <ul class="nav side-menu">
                                <li>
                                    <a href="#!/home"><i class="fa fa-home"></i> Home </a>

                                </li>
                                <li ng-if="IsSuperUser=='true'">
                                    <a><i class="fa fa-wrench"></i> Configuration  <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li> <a href="#!/Projects">Project <span class="fa fa-chevron-down" /></a>
                                            <ul class="nav child_menu">
                                                <li>
                                                    <a href="#!/MetricsAssociation">Association</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li><a href="#!/Metrics">Metrics</a></li>
                                        <li><a href=#!/UserConfiguration>User</a></li>
                                        <li><a href="#!/Role">Role</a></li>

                                    </ul>
                                </li>
                                <li>
                                    <a>
                                        <i class="fa fa-square"></i>Upload
                                        <span class="fa fa-chevron-down"></span>
                                    </a>
                                    <ul class="nav child_menu">
                                        <li><a onclick="Redirect()">Upload Wizard</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a><i class="fa fa-area-chart"></i> Reports <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">                                        
                                        <li><a href="#!/Metric">Metric Reports</a></li>
                                        <li><a href="#!/Chart">Chart Reports</a></li>
                                        <li><a href="#!Saved/">My Saved Reports</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>

                    </div>
                    <!-- /sidebar menu -->
                    <!-- /menu footer buttons -->
                    <div class="sidebar-footer hidden-small">
                        <a data-toggle="tooltip" data-placement="top" title="FullScreen">
                            <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title="Logout" ng-click="logout()">
                            <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
                        </a>
                    </div>
                    <!-- /menu footer buttons -->
                </div>
            </div>

            <!-- top navigation -->
            <div class="top_nav">
                <div class="nav_menu">
                    <nav>
                        <div class="nav toggle">
                            <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                        </div>

                        <ul class="nav navbar-nav navbar-right">
                            <li class="">
                                <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                    <!--<img src="images/img.jpg" alt="">-->Welcome, {{ FirstName }}
                                    <span class="fa fa-angle-down"></span>
                                </a>
                                <ul class="dropdown-menu dropdown-usermenu pull-right">
                                  
                                    <li><a ng-click="logout()"><i class="fa fa-sign-out pull-right"></i> Log Out</a></li>
                                </ul>
                            </li>

                            <li role="presentation" class="dropdown">
                                <!--<a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false">
                                    <i class="fa fa-envelope-o"></i>
                                    <span class="badge bg-green">6</span>
                                </a>-->
                                <ul id="menu1" class="dropdown-menu list-unstyled msg_list" role="menu">
                                    <li>
                                        <a>

                                            <span>
                                                <span>New notification</span>
                                                <span class="time">3 mins ago</span>
                                            </span>
                                            <span class="message">

                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a>

                                            <span>
                                                <span>Old notification</span>
                                                <span class="time">10 mins ago</span>
                                            </span>
                                            <span class="message">

                                            </span>
                                        </a>
                                    </li>

                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <!-- /top navigation -->
            <!-- page content -->
            <div class="right_col" role="main" ng-view>
                @RenderBody()
            </div>
            <!-- /page content -->
            <!-- footer content -->
            <footer>
                <div class="pull-right">
                   QRM Metrics Portal
                </div>
                <div class="clearfix"></div>
            </footer>
            <!-- /footer content -->
        </div>
    </div>

    @Scripts.Render("~/modernizr")
    @Scripts.Render("~/chartJs")
    @Scripts.Render("~/ng")
    @Scripts.Render("~/uigrid")
    @Scripts.Render("~/app")
    @Scripts.Render("~/jquery")
    @Scripts.Render("~/bootstrap")
    @Scripts.Render("~/jsxlsx")
    @Scripts.Render("~/custom")
    <script>
        $('body').tooltip({
            selector: '[data-toggle= "tooltip"]'
        });
        function Redirect() {
            window.location.href = '/app/qrm/#!Upload';
        }
    </script>
</body>
</html>
